# .gitignore --- Specify intentionally untracked files to ignore -*- mode: gitignore; -*-
# 
# Commentary:
# 
# This gitignore file references or adapts work from:
#   [1] Steve Purcell's Emacs configuration:
#       https://github.com/purcell/emacs.d/blob/master/.gitignore
#   [2] gitignore.io
#       https://www.toptal.com/developers/gitignore/api/emacs
#       https://www.toptal.com/developers/gitignore/api/macos,linux,windows
# 

# Backup, File Locks and Auto-Saving
*~
.\#*
\#*
# or: \#*\#
/auto-save-list

# Locks
# .*.lock

# Desktop Save Mode
/.emacs.desktop
/.emacs.desktop.lock

# TRAMP: Transparent Remote (file) Access, Multiple Protocol
/tramp

# Emacs Lisp - Compiled Bytecode
*.elc

# Emacs Lisp - Native Compilation
/eln-cache

# ELPA Packages
/elpa
/elpa-*

# Flymake Mode
*_flymake.*

# Flycheck
flycheck_*.el

# Org Mode
*_archive
/.org-id-locations
/org-clock-save.el

# AUCTeX - Auto-Parsing Information Files
# /auto/

# RefTeX - Parsing Information Files
# *.rel

# Eshell
/eshell

# Emacs URL Cache
/url/cache

# Emacs Network Security Manager
/network-security.data

# Cask - Project Management for Emacs Package Development
/.cask/
dist/

# Projectile
.projectile
/projectile-bookmarks.eld
/projectile.cache

# Directory-Local Variables
# .dir-locals.el

# Emacs Server
/server/

# Linux
.fuse_hidden*
.nfs*

# Linux Trash Folder
.Trash-*

# KDE Directory Preferences
.directory

# macOS
._*
.DS_Store
.Spotlight-V100
# .AppleDouble
# .LSOverride
# Icon  # (Icon must end with two \r)
# .DocumentRevisions-V100
# .fseventsd
# .TemporaryItems
# .Trashes
# .VolumeIcon.icns
# .com.apple.timemachine.donotpresent
# .AppleDB
# .AppleDesktop
# Network Trash Folder
# Temporary Items
# .apdisk
# *.icloud

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Windows Dumpfile
*.stackdump

# .gitignore ends here